:root{
  --color-text: (#ffffff);
  --color-text-secundary: (#243761);
  --color-yellow:(#ffc300);
}

*{
  margin: 0;
  padding: 0;
}

#logo{
  width: 5rem;
  margin-left: 1rem;
}

nav{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  border-bottom: .5px solid #243761;
  align-items: center;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 1rem;
}

nav a{
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.2rem;
}

#perfil{
  display: flex;
  text-decoration: none;
  align-content: center;
  text-align: center;
  margin-right: 1rem;
  padding: .5rem;
  border-radius: .3rem
}

#perfil p{
  font-size: .5rem;
}
#perfil img{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

#logout{
  text-decoration: none;
  color: red;
  font-size: 1.2rem;
  margin-right: 1rem;
}

main{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  border: 1px solid #243761;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.selecao{
  color:#ffffff;
  background-color: #243761;
  padding: .5rem;
  border-radius: .3rem;
  text-decoration: none;
}