:root{
  --color-text: (#ffffff);
  --color-text-secundary: (#243761);
  --color-yellow:(#ffc300);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo{
  width: 80px;
  margin-left: 16px;
}

body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 64px;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-bottom: .5px solid #243761;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.90);
}

nav a{
  text-decoration: none;
  color: var(--color-text);
  font-size: 19px;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 16px;
}

nav li{
  padding: 8px;
  border-radius: 4px;
}

nav ul li#selecao{
  color:#ffffff;
  background-color: #3b5181;
  text-decoration: none;
}

nav li:hover{
  transition: 280ms;
  color:#ffffff;
  background-color: #4464a8;
}
nav ul li#selecao:hover {
  background-color: #5b6ea8;
  color: #ffffff;
}

#perfilicon{
  display: flex;
  text-decoration: none;
  align-content: center;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 7px;
  border-radius: 5px;
}

#perfilicon p{
  font-size: 14px;
  padding: 2px;
  border-radius: 2px;
}
#perfilicon:hover p{
  color: #ffffff;
  background-color: #4464a8;
  transition: 280ms;
}

#perfilicon img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#logout{
  text-decoration: none;
  color: red;
  font-size: 19px;
  margin-right: 16px;
}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 32px;
}

.box{
  width: 85%;
  margin-bottom: 32px;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.box#login{
  border: 3px solid rgb(182, 220, 255);
  width: 35%;
  flex-direction: column;
}
.box#perfil{
  border: 3px solid rgb(182, 220, 255);
  width: 35%;
  flex-direction: column;
}
.box-spacearound{
  width: 85%;
  margin-bottom: 32px;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}
.container {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.container img{
  border: 4px solid rgb(182, 220, 255);
  width: 100%;
  border-radius: 8px;
}

footer{
  height: 64px;
  background-color: #243761;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}



/* From Uiverse.io by Maximinodotpy */ 
.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  max-width: 190px;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #ffffff;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}

/* From Uiverse.io by yaasiinaxmed */ 
button {
  --color: rgb(106, 171, 224);
  font-family: inherit;
  display: inline-block;
  width: 4em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

button:hover {
  color: white;
}

button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

button:hover::before {
  top: -30px;
  left: -30px;
}
